.homebg{
  background-image: url(https://bashooka.com/wp-content/uploads/2012/04/patterns_4.jpg);
  background-position: top right;
}

/* for all the other pages besides Home page */
.pagebg {
  background-image: url(https://bashooka.com/wp-content/uploads/2012/04/patterns_4.jpg);
  background-position: top right;
  height: fit-content;
}

body, html {
  height: 100%
}

a {
  text-decoration: none;
  color: rgb(10, 109, 175);
}

a:hover {
  text-decoration: underline;
}

/* selector does not work on DuckDuckGo */
a:visited {
  color: rgb(206, 152, 229);
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}

li {
  font-size: 14px;
  font-style: italic;
  font-weight: normal;
}

.mainListHeading {
  font-weight: bold;
  font-size: 20px;
  font-style: normal;
  text-decoration: underline;
}

.headText{
  margin-bottom: 10px;
}
.mainBullets{
  font-size: 14px;
  font-style: normal;
  font-weight: normal;
}

.textbox{
  border-radius: 7px;
  border-width: 2px;
  border-color: black;
  border-style: solid;
  padding: 10px;
}

.textboxm{
  border-width: 2px;
  border-color: purple;
  border-style: solid;
  margin: 5px;
  padding: 3px;
  text-align:right;
}
.bold {font-weight: bold;}
.underline {text-decoration: underline;}
.notextdecor {text-decoration: none;}

/* Analyze Data Styles */
.dataBulletHead{
  color: darkslategray;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
}

.dataBulletText{
  color:darkslategray;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.dataPicText{
  text-indent: 25px;
  color: darkslategray;
}

.dataTableauTitle{
  font-style: italic;
  color: darkslategray;
}

form-group {
  margin: 10px 10px;
}